/* =========================
   ICON
========================= */

.logout-icon{

    width:90px;
    height:90px;

    margin:0 auto 25px;

    border-radius:50%;

    background:rgba(220,53,69,.12);

    color:#dc3545;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:48px;

    box-shadow:0 8px 25px rgba(220,53,69,.18);

}
.logout-icon i{

    transition:.3s;

}

.logout-modal:hover .logout-icon i{

    transform:translateX(4px);

}